<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="testScript.ManageNewsTest" />
			<class name="testScript.AdminUserTest" />
			<class name="testScript.LoginTest">
				<methods>
					<!-- <include
					name="verifyTheUserIsAbleToLoginUsingValidCredentials"/> -->
					<!-- include and exclude is not run same time -->
					<!-- include(must run test cases) exclude (without that test case then run all test cases)-->
					<exclude name="verifyTheUserIsUnableToLoginUsingInvalidUserNameAndValidPassword"></exclude>
				</methods>
			</class>
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
